<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.mapper.PuahomeBbsMapper">
  <resultMap id="BaseResultMap" type="com.spider.models.PuahomeBbs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="writer" jdbcType="VARCHAR" property="writer" />
    <result column="editdate" jdbcType="TIMESTAMP" property="editdate" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="listurl" jdbcType="VARCHAR" property="listurl" />
    <result column="commentnum" jdbcType="INTEGER" property="commentnum" />
    <result column="readnum" jdbcType="INTEGER" property="readnum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.spider.models.PuahomeBbs">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, writer, editdate, url, listurl, commentnum, readnum
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.spider.models.PuahomeBbsCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.spider.models.PuahomeBbsCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from puahome_bbs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from puahome_bbs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.spider.models.PuahomeBbsCriteria">
    delete from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spider.models.PuahomeBbs">
    insert into puahome_bbs (id, title, writer, 
      editdate, url, listurl, 
      commentnum, readnum, content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR}, 
      #{editdate,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, #{listurl,jdbcType=VARCHAR}, 
      #{commentnum,jdbcType=INTEGER}, #{readnum,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spider.models.PuahomeBbs">
    insert into puahome_bbs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="writer != null">
        writer,
      </if>
      <if test="editdate != null">
        editdate,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="listurl != null">
        listurl,
      </if>
      <if test="commentnum != null">
        commentnum,
      </if>
      <if test="readnum != null">
        readnum,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        #{writer,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null">
        #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="listurl != null">
        #{listurl,jdbcType=VARCHAR},
      </if>
      <if test="commentnum != null">
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="readnum != null">
        #{readnum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.spider.models.PuahomeBbsCriteria" resultType="java.lang.Integer">
    select count(*) from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update puahome_bbs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.writer != null">
        writer = #{record.writer,jdbcType=VARCHAR},
      </if>
      <if test="record.editdate != null">
        editdate = #{record.editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.listurl != null">
        listurl = #{record.listurl,jdbcType=VARCHAR},
      </if>
      <if test="record.commentnum != null">
        commentnum = #{record.commentnum,jdbcType=INTEGER},
      </if>
      <if test="record.readnum != null">
        readnum = #{record.readnum,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update puahome_bbs
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      writer = #{record.writer,jdbcType=VARCHAR},
      editdate = #{record.editdate,jdbcType=TIMESTAMP},
      url = #{record.url,jdbcType=VARCHAR},
      listurl = #{record.listurl,jdbcType=VARCHAR},
      commentnum = #{record.commentnum,jdbcType=INTEGER},
      readnum = #{record.readnum,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update puahome_bbs
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      writer = #{record.writer,jdbcType=VARCHAR},
      editdate = #{record.editdate,jdbcType=TIMESTAMP},
      url = #{record.url,jdbcType=VARCHAR},
      listurl = #{record.listurl,jdbcType=VARCHAR},
      commentnum = #{record.commentnum,jdbcType=INTEGER},
      readnum = #{record.readnum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.spider.models.PuahomeBbs">
    update puahome_bbs
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        writer = #{writer,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null">
        editdate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="listurl != null">
        listurl = #{listurl,jdbcType=VARCHAR},
      </if>
      <if test="commentnum != null">
        commentnum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="readnum != null">
        readnum = #{readnum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.spider.models.PuahomeBbs">
    update puahome_bbs
    set title = #{title,jdbcType=VARCHAR},
      writer = #{writer,jdbcType=VARCHAR},
      editdate = #{editdate,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      listurl = #{listurl,jdbcType=VARCHAR},
      commentnum = #{commentnum,jdbcType=INTEGER},
      readnum = #{readnum,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spider.models.PuahomeBbs">
    update puahome_bbs
    set title = #{title,jdbcType=VARCHAR},
      writer = #{writer,jdbcType=VARCHAR},
      editdate = #{editdate,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      listurl = #{listurl,jdbcType=VARCHAR},
      commentnum = #{commentnum,jdbcType=INTEGER},
      readnum = #{readnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.spider.models.PuahomeBbs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="writer" jdbcType="VARCHAR" property="writer" />
    <result column="editdate" jdbcType="TIMESTAMP" property="editdate" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="listurl" jdbcType="VARCHAR" property="listurl" />
    <result column="commentnum" jdbcType="INTEGER" property="commentnum" />
    <result column="readnum" jdbcType="INTEGER" property="readnum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.spider.models.PuahomeBbs">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, writer, editdate, url, listurl, commentnum, readnum
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.spider.models.PuahomeBbsCriteria" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.spider.models.PuahomeBbsCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from puahome_bbs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from puahome_bbs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.spider.models.PuahomeBbsCriteria">
    delete from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spider.models.PuahomeBbs">
    insert into puahome_bbs (id, title, writer, 
      editdate, url, listurl, 
      commentnum, readnum, content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR}, 
      #{editdate,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, #{listurl,jdbcType=VARCHAR}, 
      #{commentnum,jdbcType=INTEGER}, #{readnum,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spider.models.PuahomeBbs">
    insert into puahome_bbs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="writer != null">
        writer,
      </if>
      <if test="editdate != null">
        editdate,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="listurl != null">
        listurl,
      </if>
      <if test="commentnum != null">
        commentnum,
      </if>
      <if test="readnum != null">
        readnum,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        #{writer,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null">
        #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="listurl != null">
        #{listurl,jdbcType=VARCHAR},
      </if>
      <if test="commentnum != null">
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="readnum != null">
        #{readnum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.spider.models.PuahomeBbsCriteria" resultType="java.lang.Integer">
    select count(*) from puahome_bbs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update puahome_bbs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.writer != null">
        writer = #{record.writer,jdbcType=VARCHAR},
      </if>
      <if test="record.editdate != null">
        editdate = #{record.editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.listurl != null">
        listurl = #{record.listurl,jdbcType=VARCHAR},
      </if>
      <if test="record.commentnum != null">
        commentnum = #{record.commentnum,jdbcType=INTEGER},
      </if>
      <if test="record.readnum != null">
        readnum = #{record.readnum,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update puahome_bbs
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      writer = #{record.writer,jdbcType=VARCHAR},
      editdate = #{record.editdate,jdbcType=TIMESTAMP},
      url = #{record.url,jdbcType=VARCHAR},
      listurl = #{record.listurl,jdbcType=VARCHAR},
      commentnum = #{record.commentnum,jdbcType=INTEGER},
      readnum = #{record.readnum,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update puahome_bbs
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      writer = #{record.writer,jdbcType=VARCHAR},
      editdate = #{record.editdate,jdbcType=TIMESTAMP},
      url = #{record.url,jdbcType=VARCHAR},
      listurl = #{record.listurl,jdbcType=VARCHAR},
      commentnum = #{record.commentnum,jdbcType=INTEGER},
      readnum = #{record.readnum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.spider.models.PuahomeBbs">
    update puahome_bbs
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        writer = #{writer,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null">
        editdate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="listurl != null">
        listurl = #{listurl,jdbcType=VARCHAR},
      </if>
      <if test="commentnum != null">
        commentnum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="readnum != null">
        readnum = #{readnum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.spider.models.PuahomeBbs">
    update puahome_bbs
    set title = #{title,jdbcType=VARCHAR},
      writer = #{writer,jdbcType=VARCHAR},
      editdate = #{editdate,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      listurl = #{listurl,jdbcType=VARCHAR},
      commentnum = #{commentnum,jdbcType=INTEGER},
      readnum = #{readnum,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spider.models.PuahomeBbs">
    update puahome_bbs
    set title = #{title,jdbcType=VARCHAR},
      writer = #{writer,jdbcType=VARCHAR},
      editdate = #{editdate,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      listurl = #{listurl,jdbcType=VARCHAR},
      commentnum = #{commentnum,jdbcType=INTEGER},
      readnum = #{readnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>